
  <% include ../partials/header %>
  
  <div class="row">
    <% contact.forEach(function(contacts) { %>
                
                <div class="item">
                    <%= contacts.id %><br>
                    <%= contacts.name %><br>
                    <%= contacts.email %><br>
                   
                    </div>
              
         <% }); %>
  </div>


<% include ../partials/footer 
